body{
    background: #1877F2;
}
table{
    width: 800px;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    margin-top: 50px;
    font-family: Arial;
    color: #fff;
}